html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #fff;
  border-width: 3px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40;
}
a:hover,
a:focus {
  color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-dark {
  background-color: #222222;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}


body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
/*Navabar-bootsrap*/

.navbar {
    margin-bottom: 0;
    background-color: transparent;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #324360 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #324360 !important;
    text-shadow: 2px 2px 4px #4ccdf3;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.top-nav-collapse {
  color: #fff !important;
  background-color: #dae9f1 !important;
}
/*Nan done*/

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

color: white;
font-size: 1.5rem;
padding: 25px;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url("../img/background.jpeg");
    min-height: 100%;
    background-position: top;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: linear-gradient(rgba(2, 0, 0, 0.4), rgba(2, 0, 0, 0.4)), url("../img/total.jpg");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("../img/result.jpg");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
.imgWrap {
    position: relative;
    opacity: .8;
}
.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    border: 0;
    height: auto;
}
.img-factoring {
    margin-bottom: .75rem;
    max-width: 100%;
    height: 280px;
    padding:20px;
}
.imgWrap:hover .imgDescription_two, .imgWrap:hover .imgDescription {
    /* transform: scale(1.1); */
    z-index: 99;
    visibility: visible;
    opacity: 1;
    border: .1px dashed;
}

.imgDescription_two, .imgDescription {
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #c86b2c;
    font-weight: bolder;
    color: white;
    visibility: hidden;
    font-size: 1.1em;
    padding: 25px;
    /* border-radius: 15px; */
    transition: all 100ms ease-in-out;
}
.listarrow {
    list-style-image: url('http://www.corplending.com/Images/Icons/listarrow.png');
    list-style-position: outside;
    padding-left: 20px;
}
.project-name {
  text-align: center;
  text-shadow: 2px 2px 4px #4ccdf3;
  font-size:2em;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

.down-icon {
  padding-top: 465px;
  cursor: pointer;
  position: relative;
}

.bg-primary {
  background-color: #657e92;
  padding:50px;
}
.text-muted {
  color: #ccc;
}

.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}

HTML  CSS  JS  Result
Edit on
/* Animation properties */
.star {
  animation: star 10s ease-out infinite;
}
.wars {
  animation: wars 10s ease-out infinite;
}
.byline span {
  animation: spin-letters 11s linear infinite;
}
.byline {
  animation: move-byline 11s linear infinite;
}

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}

@keyframes spin-letters {
  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%, 86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}

@keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
}

/* Make the 3D work on the container */
.web-animation {
  perspective: 800px;
  transform-style: preserve3d;
}

 General styles and layout
body {
  background: #000;
}

.web-animation {
  height: 17em;
  left: 50%;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 34em;
}

.byline span {
  display: inline-block;
}

img {
  max-width: 100%;
}

 .wars, .byline {
  position: absolute;
}

.wars {
  bottom: -0.5em;
  border-radius: 50%;
}

.byline {
  color: #fff;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 2.50em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 29%;
  text-shadow:  1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  .web-animation {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .web-animation {
    font-size: 7px;
  }
  .card {
      float: left;
      width: 100%;
      padding: .75rem;
      border: 0;
      height: auto;
  }
}

/*video header*/
@media (min-width: 768px) {
video#bgvid {
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -1;
    position: relative;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
 }
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
 }
}
@media (max-width: 767px) {
video#bgvid {
    display: none;
 }
}
.box {
  background: #2db34a;
  border-radius: 6px;
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 95px;
}
.box:hover {
  background: #ff7b29;
  border-radius: 50%;
}
/* icon style*/
.hi-icon-wrap {
    text-align: center;
    margin: 0 auto;
    padding: 2em 0 3em;
}
.hi-icon {
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 15px 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
}
.hi-icon-effect-6 .hi-icon:hover {
    background: rgba(255,255,255,1);
    color: #64bb5d;
    transform: translate(0, -1px) rotate(360deg);
}

.no-touch a:hover, .no-touch a:active {
    color: #333;
}
.hi-icon-effect-6 .hi-icon {
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
    transition: all .4s ease-in-out;
}
/*websites display*/
@media (min-width: 768px) {
#proj_one {
    background-image: url("img/enroll.jpg");
    height: 70vh;
}
#proj_six, #proj_five, #proj_four, #proj_one, #proj_three, #proj_two {
    padding: 35px;
    margin: .5em;
    background-position: center;
    background-size: cover;
    color: #000;
    position: relative;
    transition: all .5s ease-in-out;
}

.project_description {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px;
}

#proj_six:hover, #proj_five:hover, #proj_four:hover, #proj_one:hover, #proj_three:hover, #proj_two:hover {
    transform: scale(1.05);
    opacity: .9;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
    z-index: 999999;
    border-radius: 15px;

  }
}
.title {
    font-size: 5.5rem;
}
.text-center {
    text-align: center;
}
.text-primary {
  color: #F05F40;
}
/*footer*/
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: #eb3812;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ccc;
  background-color: #eb3812;
  border-color: #ededed;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}
.btn-default .badge {
  color: white;
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #F05F40;
  border-color: #F05F40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #ee4b28;
  border-color: #ed431f;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #F05F40;
  border-color: #F05F40;
}
.btn-primary .badge {
  color: #F05F40;
  background-color: white;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
}
.text-primary {
  color: #F05F40;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}
.contact_page {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.5rem;
    padding: 35px;
}
.short_hr {
    width: 5%;
    border-color: white;
}
.connected-icons {
    list-style-type: none;
    display: inline-block;
    list-style: none;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    padding: 0;
}
